LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
SRILATHA_DATA_DIR=
SRILATHA_SCREENSHOTS_DIR=
SRILATHA_RECORDINGS_DIR=
SRILATHA_DASHBOARD_PORT=8787
SRILATHA_DASHBOARD_URL=http://127.0.0.1:8787
SRILATHA_DASHBOARD_AUTOSTART=1
